@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Hammersmith+One&family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulosProd {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  padding: 1.5rem 0; }

header {
  background-color: #1f2626;
  height: 5rem;
  padding: 0.5rem 1rem;
  justify-content: center; }

.navbar-collapse {
  z-index: 2; }

a {
  text-decoration: none;
  color: white; }

.navbar-brand {
  font-size: 2rem;
  font-family: "Calistoga", cursive;
  font-weight: bold; }

.nav-link {
  background-color: #1f2626;
  color: white !important;
  font-size: 1.2rem;
  font-weight: bold; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  background-color: #1f2626;
  color: white; }
  footer .iconos {
    font-size: 2rem; }

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    height: auto;
    margin-top: 0.8rem; }
    footer .logo {
      margin-top: 0.8rem;
      width: 90%;
      text-align: center; }
    footer .horarios {
      margin-top: 0.8rem;
      width: 90%;
      text-align: center; }
    footer .iconos {
      margin-top: 0.8rem;
      width: 90%;
      justify-content: center !important; } }

.texto {
  font-family: "Itim", cursive;
  font-size: 1.2rem;
  color: #070707; }

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: 2rem auto;
  justify-content: center; }
  .contenedor div {
    text-align: center;
    width: 25%; }
    .contenedor div img {
      width: 85%; }

@media screen and (max-width: 600px) {
  .contenedor div {
    width: 50%; } }

.tituloMenu {
  text-align: center;
  padding: 1.5rem 0;
  font-family: "Hammersmith One", sans-serif; }

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 0 1rem; }

/* .productos div a img {
  width: 28rem;
  margin: 1rem;
  border: solid 2px black;
} */
/* .efecto:hover {
  transition: all 1s;
  transform: scale(1.1);
} */
/*Prueba de efecto con un texto abajo */
/* .menu {
  width: 28rem;
  height: 28rem;
  margin: 1rem;
  background-image: url(../img/cocktails.jpg);
  background-size: cover;
} */
.menu1 {
  width: 28rem;
  height: 28rem;
  margin: 1rem;
  background-image: url(../img/cocktails.jpg);
  background-size: cover; }

div #cocktail,
#birras,
#whiskys,
#comida {
  width: 28rem;
  height: 28rem;
  background-color: rgba(31, 38, 38, 0.9);
  opacity: 0;
  transition: 0.2s;
  position: absolute; }

.menu:hover div#cocktail {
  opacity: 1; }

.menu:hover div#birras {
  opacity: 1; }

.menu:hover div#whiskys {
  opacity: 1; }

.menu:hover div#comida {
  opacity: 1; }

a.efecto {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-size: 2rem;
  padding-top: 13rem;
  padding-left: 10rem; }

@media screen and (max-width: 600px) {
  .menu1 {
    width: 18rem;
    height: 18rem; }
  div #cocktail,
  #birras,
  #whiskys,
  #comida {
    width: 18rem;
    height: 18rem; }
  a.efecto {
    padding-top: 8rem;
    padding-left: 5rem; } }

.cartaCocktails {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto; }
  .cartaCocktails .tarjeta {
    width: 32%;
    padding: 1rem;
    text-align: center; }
    .cartaCocktails .tarjeta img {
      width: 100%; }

@media screen and (max-width: 600px) {
  .cartaCocktails {
    flex-direction: column; }
    .cartaCocktails .tarjeta {
      width: 100%; } }
