footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem 0 0;
  background-color: $bg_oscuro;
  color: white;
  .horarios {
    text-align: center;
    padding-top: 1rem;
  }
  .iconos {
    font-size: 2rem;
    margin-right: 1.5rem;
    a {
      text-decoration: none;
      color: white;
      margin-right: 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
    margin-top: 0.8rem;
    .logo {
      margin-top: 0.8rem;
      width: 90%;
      text-align: center;
    }
    .horarios {
      margin-top: 0.8rem;
      width: 90%;
      padding-top: 0;
    }
    .iconos {
      margin-top: 0.8rem;
      margin-right: 0;
      width: 90%;
      justify-content: center !important;
    }
  }
}
