.texto {
  font-family: $textos;
  font-size: 1.2rem;
  color: $colortx;
}
.carousel {
  width: 75%;
}
.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: 2rem auto;
  justify-content: center;
  div {
    text-align: center;
    width: 25%;
    img {
      width: 85%;
    }
  }
}
.subtitulo {
  text-align: center;
  margin: auto;
  font-family: $titulos;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .contenedor {
    div {
      width: 50%;
    }
  }
}
