.tituloMenu {
  text-align: center;
  padding: 1.5rem 0;
  font-family: $titulos;
}
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 0 1rem;
}
/* .productos div a img {
  width: 28rem;
  margin: 1rem;
  border: solid 2px black;
} */
/* .efecto:hover {
  transition: all 1s;
  transform: scale(1.1);
} */
/*Prueba de efecto con un texto abajo */
/* .menu {
  width: 28rem;
  height: 28rem;
  margin: 1rem;
  background-image: url(../img/cocktails.jpg);
  background-size: cover;
} */
$menuImg1: url(../img/cocktails.jpg);
@mixin menus($menuImg) {
  width: 28rem;
  height: 28rem;
  margin: 1rem;
  background-image: $menuImg;
  background-size: cover;
}
.menu1 {
  @include menus($menuImg1);
}
div #cocktail,
#birras,
#whiskys,
#comida {
  width: 28rem;
  height: 28rem;
  background-color: rgba(31, 38, 38, 0.9);
  opacity: 0;
  transition: 0.2s;
  position: absolute;
}
.menu:hover div#cocktail {
  opacity: 1;
}
.menu:hover div#birras {
  opacity: 1;
}
.menu:hover div#whiskys {
  opacity: 1;
}
.menu:hover div#comida {
  opacity: 1;
}
a.efecto {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-size: 2rem;
  padding-top: 13rem;
  padding-left: 10rem;
}

@media screen and (max-width: 600px) {
  @mixin menus($menuImg) {
    width: 18rem;
    height: 18rem;
  }
  .menu1 {
    @include menus($menuImg1);
  }
  div #cocktail,
  #birras,
  #whiskys,
  #comida {
    width: 18rem;
    height: 18rem;
  }
  a.efecto {
    padding-top: 8rem;
    padding-left: 5rem;
  }
}
