@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Itim&display=swap");

$titulos: "Hammersmith One", sans-serif;
$textos: "Itim", cursive;
$fondo: rgb(255, 237, 215);
$colortx: rgb(7, 7, 7);
$bg_oscuro: rgb(31, 38, 38);
$colorBtn: rgb(255, 154, 48);
$menuImg1: url(../img/cocktails.jpg);
$menuImg2: url(../img/birras.jpg);
$menuImg3: url(../img/whisky.jpg);
$menuImg4: url(../img/comida.jpg);

body {
  background-color: $fondo;
}
.titulosProd {
  text-align: center;
  font-family: $titulos;
  padding: 1.5rem 0;
}
