* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "var";
@import "header";
@import "footer";
@import "index";
@import "menu";
@import "cocktails";
@import "formulario";
@import "nosotros";
